.product-root {
  
}
.product-container {
  display: flex;
  flex-direction: column;
  margin: 25px;
}
.product-sort-filter {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  margin-bottom: 25px;
}
.sort,
.filter {
  width: 145px;
  height: 30px;
  border-radius: 5px;
  background-color: #74a4b9;
  display: flex;
  justify-content: center;
  align-items: center;
}

.products-sec {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 25px;
  column-gap: 40px;
}

.product-sec-card{
    max-width: 145px;
}

.product-sec-image{
    width: 145px;
    height: 210px;
    border-radius: 7px;
}

.product-sec-card-details{
    display: flex;
    justify-content: space-between;
    font-size: 10px;
}

.product-sec-card-price{
    color: blue;
}



